{% extends 'base.html.twig' %}

{% block title %}Edit Cart{% endblock %}

{% block body %}
<div class="d-flex justify-content-center mt-3">
    <h1 class="btn-danger">Edit Cart</h1>
</div>
    {{ include('cart/_form.html.twig', {'button_label': 'Update Cart'}) }}

    <a class="btn btn-primary mt-2"  href="{{ path('cart_index') }}">Back to list</a>

    {{ include('cart/_delete_form.html.twig') }}
{% endblock %}
