{% extends 'base.html.twig' %}

{% block title %}Home - Symfony{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mt-3">
        <h1 class="text-danger intro">My Winery</h1>
    </div>
{% endblock %}