{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}

    <h1>Comment</h1>

    {{ form_start(commentForm) }}
    {{ form_row(commentForm.content) }}
    <button type="submit" class="btn">Enter</button>
    {{ form_end(commentForm) }}
{% endblock %}
