{% block body %}
    <div class="d-flex justify-content-center mt-3">
        <h1 class="text-danger mt-2 mb-3">Add your comment</h1>
    </div>
    <div class="container mt-2">
    {{ include('comment/_form.html.twig') }}
    </div>
{% endblock %}
