{% block body %}
    <div class="d-flex justify-content-start mt-3 ml-3">
        <h5 class="text-danger mt-2 mb-3">Add your comment</h5>
    </div>
    <div class="container mt-2">
    {{ include('comment/_form.html.twig') }}
    </div>
{% endblock %}
