{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <h1>Category</h1>

    {{ form_start(categoryForm) }}
    {{ form_row(categoryForm.name) }}
    <button type="submit" class="btn">Enter</button>
    {{ form_end(categoryForm) }}
{% endblock %}
